<form (ngSubmit)="loginUser()" #loginForm="ngForm">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Username</mat-label>
    <input
      matInput
      name="username"
      required
      [(ngModel)]="userData.username"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Password</mat-label>
    <input
      matInput
      name="password"
      type="password"
      required
      [(ngModel)]="userData.password"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Login
  </button>
</form>
