<div class="app-container">
  <header class="navbar">
    <h2>myFlix</h2>
    <nav>
      <button mat-button routerLink="/welcome" routerLinkActive="active-link">
        Welcome
      </button>
      <button mat-button routerLink="/movies" routerLinkActive="active-link">
        Movies
      </button>
      <button mat-button routerLink="/profile" routerLinkActive="active-link">
        Profile
      </button>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
